{% extends 'base.html.twig' %}  
{% block body %} 


 <section class="bg-white text-black "
    
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(200px);">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <h2 class="fs-24 text-uppercase letter-spacing"><b>01.</b> Compétences Informatiques</h2>
          </div>
          <div class="col-md-8">
            <div class="row">
      	
              <div class="col-12 pb-2">
                <h4 class="progress-title">C/C++</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><span>60%</span></div>
                  </div>
                </div>
              </div>

              <div class="col-12 pb-2">
                <h4 class="progress-title">JAVA</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span>50%</span></div>
                  </div>
                </div>
              </div>

              <div class="col-12 pb-2">
                <h4 class="progress-title">PHYTON</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><span>30%</span></div>
                  </div>
                </div>
              </div>

              <div class="col-12 pb-2">
                <h4 class="progress-title">MySQL</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><span>90%</span></div>
                  </div>
                </div>
              </div>

              <div class="col-12 pb-2">
                <h4 class="progress-title">SWIFT</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span>40%</span></div>
                  </div>
                </div>
              </div>

              <div class="col-12 pb-2">
                <h4 class="progress-title">SYMFONY/PHP</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><span>70%</span></div>
                  </div>
                </div>
              </div>            

              <div class="col-12 pb-2">
                <h4 class="progress-title">PIC 16F/18F</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><span>60%</span></div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}