{% extends 'base.html.twig' %}{% block body %} 


<section class="bg-dark text-white"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(200px);">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <h2 class="fs-24 text-uppercase letter-spacing"><b>02.</b> Experiences Professionnelles & Projets</h2>
          </div>
          <div class="col-md-8 separated">
            <div class="row">
              <div class="col">
                <div class="bordered separated">
        

                  <div class="row mb-0 align-items-center justify-content-between p-2 p-md-4">
                    <div class="col-md-8">
                      <h5 class="mb-0">Stage 4mois</h5>
                      <span>GROUPE ONEPOINT</span>
                      <span>Travail avec l'équipe TestWe (Client de oinepoint)</span>
                    </div>
                    <div class="col-md-4 text-md-right small">
                      19 avril - 13 aout 2021
                    </div>
                  </div>

                  <div class="row mb-0 align-items-center justify-content-between p-2 p-md-4">
                    <div class="col-md-8">
                      <h5 class="mb-0">Projet</h5>
                      <span>Université Paris 8</span>
                      <span>Mobile Development</span>
                    </div>
                    <div class="col-md-4 text-md-right small">
                     2020
                    </div>
                  </div>    

                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}

