{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}
{% block body %}

	
								<div class="col-12 col-lg-6" data-swiper-parallax-y="-100%">
									<p class="lead mb-0"></p>
									<h1 class="display-3  mb-2">
										<b>HAIDAR</b>
										Ali</h1>
									<p class="lead mb-10">En Recherche d'alternance pour le master Informatique, parcours Ingénerie et Intelligence Artificielle.</p>
									<div class="mouse"></div>
								</div>

{% endblock %}