<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="css/vendor.css"/>
		<link rel="stylesheet" href="css/style.css"/>
	</head>
	{% block body %}{% endblock %}
</html>
